<!DOCTYPE html>
{% load myfilters %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>Candidate Details</title>
</head>
<body>
    <div class="container ">
        <h2 class="alert alert-danger p-3">Candidate Details</h2>
        <div class="row">
            <div class="col-sm-10 offset-1 shadow">
                <p class="float-end">Candidate ID: {{candidate.id}}</p>
                <img class="float-end img-fluid img-thumbnail" src="{{candidate.profile_img.url}}" alt="Not Found">
                <p>Name: {{candidate.name}}</p>
                <p>Date of Birth: {{candidate.dob}}</p>
                <p>Email: {{candidate.email}}</p>
                <p>Address: {{candidate.locality}}, {{candidate.city}} <br> {{candidate.state}} - {{candidate.pin}}</p>
                <p>Mobile: {{candidate.mobile}}</p>
                <p>Preferred job location: {{candidate.job_city|remove_specials:"[]'"}}</p>
                <p>Attachments: <a href="{{candidate.my_file.url}}">View Resume</a></p>
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn btn-sm btn-danger m-4">Back To home</a>
                </div>
                
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>