<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    <title>Home Page</title>
</head>
<body>
    <div class="container bg-primary px-0">
        <div class="text-center">
            <h2 style="color: yellow;" class="p-4 mx-0 alert-success">Upload Your Resume</h2>
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            
            <div class="col-sm-8">
                <form class="row shadow p-5" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="form-group m-3">
                            {{fm.label_tag}} {{fm}} <span class="text-danger">{{fm.errors|striptags}}</span>
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <input class="btn btn-sm btn-success me-5" type="submit" value="Save">
                        <input class="btn btn-sm btn-danger" type="reset" value="Reset">
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>

            <div class="col-4">
                <h3 class="text-center" style="color: orange;"><u>List of Candidates</u></h3>
                {% for candidate in candidates %}
                    {{candidate.id}} <a href="{% url 'candidate' candidate.id %}"> {{candidate.name}}</a>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>